.cart_img .rack-wrap{
    margin: 0 -40px;
    padding: 0 40px;
    overflow: auto;
}
.rack{
    width: 344px;
    display: inline-block;
}
.rack-head {
    display: block;
    border: 2px solid #303030;
    height:5px;
}
.rack-content{
    height: 0;
    transition: all .3s;
}
.rack_item.active{
    background-color: rgba(94,173,253, 0.3);
}
.rack-delete,
.rack-clear{
    position: absolute;
    opacity: 0;
    transition: .3s opacity;
    z-index: -1;
}
.rack-delete{
    right: -40px;
}
.rack-delete.active,
.rack-clear.active{
    opacity: 1;
    z-index: 1;
}
.rack-delete .icon.close,
.rack-clear .icon.clear{
    width: 15px;
    height: 15px;
    display: block;
}
.rack-clear{
    right: -20px;
}
.rack_item-name{
    position: absolute;
    right: -180px;
    font-size: 90%;
    line-height: 17px;
    right: -140px;
    transition: .3s right;
}
.rack_item-name.active{
    right: -180px;
}
.tray_item{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.tray_item > img{
    display: block;
}