@media screen and (min-width:992px){

    .col-lg-24{
        width:100%;
    }
    .col-lg-21{
        width:87.5%;
    }
    .col-lg-18{
        width:75%;
    }
    .col-lg-15{
        width:62.5%;
    }
    .col-lg-12{
        width:50%;
    }
    .col-lg-9{
        width:37.5%;
    }
    .col-lg-8{
        width:33.3333%;
    }
    .col-lg-6{
        width:25%;
    }
    .col-lg-5{
        width:20.8333%;
    }
    .col-lg-3{
        width:12.5%;
    }
    .col-lg-2{
        width:8.3333%;
    }
    .hidden-lg{
        display:none!important;
    }
    h1, .title-1{
        font-size: 300%;
    }
    h2, .title-2{
        font-size: 250%;
    }
	.container{
        max-width:1500px;
        width:94%;
    }
    .form_button + .form_button{
        margin-left: 20px;
    }
    .header-part{
        padding:11px 0;
    }
    .header-menu{
        font-size: 14px;
    }
    .header-menu-item{
        padding: 5px 0;
    }
    .header-menu-item + .header-menu-item{
        margin-left: 15px;
    }
    .header-location-content{
        width:250px;
        box-shadow: 0px 0px 10px #eee;
    }
    .header-location-inner{
        background-color: #fff;
        padding: 20px;
    }
    .header-col{
        padding: 14px 25px;
    }
    .header-col:first-child,
    .header-col:last-child{
        justify-content: flex-start;
    }
    .header-col:first-child{
        padding-left: 0;
    }
    .header-col:last-child{
        padding-right: 0;
    }
    .header-logo{
        font-size: 132%;
    }
    .header-logo img{
        width: 60px;
    }
    .list_controls-right{
        float:right;
        padding-right: 15px;
    }
    .main_slider-item{
        background-position: 80% 40px;
        padding: 40px 0;
        height: 600px;
    }
    .main_slider-desc{
        margin-top: 30px;
        max-width: 50%;
    }
    .main_slider-title{
        font-size: 400%;
        margin-top: 30px;
    }
    .section{
        margin:45px 0;
    }
    .section.relative{
        margin-top: -20px;
    }
    .table_list-btns-item + .table_list-btns-item{
        margin-top: 5px;
    }
    .table_list:not(.list) .table_list-item{
        padding: 28px 30px;
    }
    .table_list:not(.list) .table_list-item .table_list-btns{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: #fff;
        padding: 20px 10px;
    }
    .table_list:not(.list) .table_list-item:hover .table_list-btns{
        display: block!important;
        border-top: 1px solid #F5F6F9;
        box-shadow: 0px 15px 15px -15px #0E1C61;
    }
    .table_list:not(.list) .table_list-item:hover .table_list-btns:before,
    .table_list:not(.list) .table_list-item:hover .table_list-btns:after{
        content: " ";
    }
    .table_list:not(.list) .table_list-item:hover .table_list-btns:before{
        position: absolute;
        top: 0;
        left :0;
        width:1px;
        height: 100%;
        box-shadow: -15px 0 15px -15px #0E1C61;
    }
    .table_list:not(.list) .table_list-item:hover .table_list-btns:after{
        top: 0;
        right :0;
        width:1px;
        height: 100%;
        box-shadow: 15px 0px 15px -15px #0E1C61;
    }
    .table_list.list .table_list-item{
        width:100%;
    }
    .table_list.list .table_list-item-wrap{
        width: 100%;
        display: flex;
        align-items: stretch;
    }
    .table_list-img > img{
        max-height: 196px;
    }
    .table_list:not(.list) .table_list-title{
        text-align: center;
        /*height:90px;
        overflow-y:auto;*/
    }
    .banner-item{
        font-size: 150%;
        padding: 60px 0 0;
        width: 50%;
        flex-basis: calc(50% - 4px);
    }
    .banner-item-inner{
        padding: 27px 50px;
    }
    .banner_map{
        padding: 65px 0;
    }
    .banner_map:after{
        content: "";
        width: 534px;
        height: 534px;
        position: absolute;
        top: 0;
        left: 50%;
        background-image: url("../images/icons/circle.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 -120px;
        z-index: 0;
    }
    .banner_map-item:nth-child(2n-1){
        width:30%;
    }
    .banner_map-item:nth-child(2n){
        width:70%;
    }
    .table_list.list .table_list-wrap{
        padding: 28px 30px;
    }
    .table_list.list .table_list-wrap:nth-child(2n-1),
    .table_list.list .table_list-wrap:nth-child(2n+1){
        flex:1;
    }
    .table_list.list .table_list-wrap:nth-child(2n){
        flex:2;
    }
    .table_list.list .table_list-wrap + .table_list-wrap{
        border-left: 1px solid #EBEBEB;
    }
    .table_list.list .table_list-title{
        margin-bottom:20px;
    }
    .table_list.list .table_list-info{
        margin-bottom:15px;
    }
    .table_list-item:hover .table_list-footer{
        display: block;
        box-shadow: 0px 11px 10px #414b79;
    }
    .catalog_section{
        padding: 35px 0;
    }
    .catalog_section-content{
        width: 50%;
    }
    .catalog_filter{
        padding: 28px 0;
    }
    .catalog_filter-item{
        padding-left: 30px;
        padding-right: 30px;
    }
    .aside-wrap{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        width: 100%;
    }
    .aside-content{
        width: 80%;
    }
    .aside-wrap .aside{
        width: 20%;
    }
    .content{
        padding-right:80px;
    }
    .main_slider .slick-dots{
        bottom:30%;
    }
    .main_slider:after{
        width: 534px;
        height: 534px;
        left: calc(100% - 700px);
        background-position:0 -120px;
    }
    .footer-part-item:nth-child(2n-1){
        width:75%;
    }
    .footer-part-item:nth-child(2n){
        width: 25%;
        margin: -30px 0 0 0;
        padding: 30px 0 0 70px;
        border-left: 1px solid #EBEBEB;
    }
    .footer_content-wrap{
        margin-bottom: -40px;
    }
    .footer_content{
        width: 25%;
        padding-right: 50px;
        margin-bottom: 40px;
    }
    .footer-desc{
        margin-bottom: 250px;
    }
    .number_list-number{
        font-size: 550%;
    }
    .popup_content .catalog_menu{
        margin: -30px -40px;
    }
    .catalog_menu-title{
        padding: 16px 0;
        text-align: center;
    }
    .catalog_menu-item{
        border-left: 1px solid #EBEBEB;
        border-bottom: 1px solid #EBEBEB;
        width: 20%;
        padding: 20px;
        font-size: 90%;
    }
    .popup.full_popup{
        overflow-y: auto;
        background-color: #fff;
    }
    .popup_wrapper{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    .popup_content{
        padding: 30px 40px;
        width: 336px;
        max-height: 90%;
        overflow-y: auto;
    }
    .popup_content.big{
        width: 800px;
    }
    .popup_content.full_popup{
        width:100%;
        min-height:100%;
    }
    .full_popup .popup_content-close{
        top: 15px;
        right: 15px;
    }
    .full_popup .popup_wrapper{
        height: auto;
    }
    .popup_liener.header_menu-popup{
        left: -336px;
    }
    .popup_liener.header_catalog-popup{
        top: -682px;
    }
    .block_wrapper{
        padding: 40px 35px;
    }
    .block_wrapper.big{
        padding:75px 65px;
    }
    .block_wrapper .cart{
        margin: -40px -35px;
    }
    .block_wrapper.compare_list{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .block_wrapper > .block_content{
        margin: -40px -35px;
    }
    .block_content-item{
        width: 50%;
        padding: 40px;
    }
    .block_content-item + .block_content-item{
        border-left: 1px solid #EBEBEB;
    }
    .cart_img,
    .cart_desc{
        padding: 40px;
    }
    .cart_img{
        width: 60%;
    }
    .cart_desc{
        width: 40%;
    }
    .cart_desc-item{
        margin-left: -40px;
        margin-right: -40px;
        padding: 25px 35px;
    }
    .cart_img + .cart_desc{
        border-left:1px solid #EBEBEB;
    }
    .cart_links-item{
        display: inline-block;
        margin-right: 20px;
    }
    .block_wrapper .cart_info{
        margin: -40px -35px;
    }
    .cart_info-item{
        padding: 40px 35px;
    }
    .inline_list > li{
        padding-right: 35px;
    }
    .news_list-item{
        width: calc(33.3333% - 8px);
    }
    .news_list-img{
        height: 360px;
    }
    .news_detail{
        margin-bottom: 50px;
    }
    .title_wrap{
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .title_wrap [class*="title-"]{
        width: 50%;
    }
    .title_wrap-img{
        width: 50%;
        /*margin-left: -200px;*/
    }
    .block_wrapper .compare_list{
        margin:0 -35px;
    }
    .contacts_list{
        margin-bottom: -70px;
    }
    .contacts_list-item{
        margin: 0 35px 70px;
        width: calc(25% - 35px*1.5);
    }
    .contacts_list-item:nth-child(4n){
        margin-right: 0;
    }
    .contacts_list-item:nth-child(4n+1){
        margin-left: 0;
    }
    .pay_sys-list{
        margin-bottom: -35px;
    }
    .pay_sys-item{
        width: 25%;
        margin-bottom: 35px;
        padding-right: 50px;
    }
    .content_tab{
        margin-bottom: 40px;
        border-bottom: 1px solid #EBEBEB;
        padding-bottom: 20px;
    }
    .popup_content .content_tab{
        border-bottom: 0;
        padding-bottom: 0;
    }
    .content_tab-item{
        padding-bottom: 17px;
    }
    .content_tab-item + .content_tab-item{
        margin-left: 20px;
    }
    .popup_content .content_tab-item{
        padding: 0;
    }
    .content_tab-item.active{
        color: inherit;
        border-bottom: 1px solid;
    }
    .basket_list-img{
        width: 240px;
        padding: 20px 35px;
        border-right: 1px solid #EBEBEB;
    }
    .basket_list-title{
        margin-bottom: 20px;
    }
    .basket_list-info{
        width: 383px;
    }
    .basket_list-price_wrap{
        width: 500px;
    }
    .basket_list-info + .basket_list-price_wrap{
        margin-left: 100px;
    }
    .basket_coupon{
        padding: 0 35px;
    }
    .basket_coupon-col{
        width: 50%;
        padding: 25px 0;
    }
    .basket_coupon-col + .basket_coupon-col{
        border-left: 1px solid #EBEBEB;
        padding-left: 25px;
        justify-content: flex-end;
    }
    .basket_coupon-col .animate_input{
        margin-right: 35px;
        width: 205px;
    }
    .basket_coupon-title{
        margin-right: 20px;
    }
    .block_wrapper > .order_form{
        margin: -40px -35px;
    }
    .order_form .tumbler{
        margin-left: 40px;
    }
    .order_form-item{
        padding: 40px 35px;
    }
    .order_form-item input[type="text"],
    .order_form-item input[type="email"],
    .order_form-item input[type="tel"],
    .order_form-item [class*="col-lg-"],
    .order_form-item .radio_btn{
        margin-right:20px;
    }
    .order_form-item-input{
        margin-bottom: -20px;
    }
    .order_form-item input[type="text"],
    .order_form-item input[type="email"],
    .order_form-item input[type="tel"],
    .order_form-item .radio_btn{
        margin-bottom: 20px;
    }
    .block_wrapper > .personal{
        margin:-40px -35px;
    }
    .personal_aside{
        width: 20%;
        padding: 40px 35px;
    }
    .personal_aside + .personal_content{
        border-left: 1px solid #EBEBEB;
        width: 80%;
    }
    .personal_aside-item + .personal_aside-item{
        margin-top: 10px;
    }
    .personal_content{
        padding: 40px 35px;
    }
    .order_address .address_list-item{
        width: 33.3333%;
        padding-right: 20px;
    }
    .order_address .address_list-item + .address_list-item{
        border-top: 0;
        border-left: 1px solid #EBEBEB;
        padding-left: 40px;
    }
    .y_map{
        height: 584px;
    }
    .rack-wrap{

    }
    .rack{
        margin: 0 auto;
        transition: all .3s;
    }
    .rack-content{
        position: relative;
        min-height: 50px;
    }
    .rack-content:before,
    .rack-content:after{
        content: "";
        position: absolute;
        top: 0;
        width: 8px;
        height: 100%;
        background: url('../images/rack/stellazh-border.svg') repeat-y 0 0 / 100%;
    }
    .rack-content:before{
        left: 0;
    }
    .rack-content:after{
        right: 0;
    }
    .rack-header{
        width: 100%;
        height: 33px;
        background: url('../images/rack/stellazh-head.svg') no-repeat 0 0 / 100%;
    }
    .rack_item{
        position: absolute;
        left: 8px;
        right: 8px;
        height: 10px;
        background: url('../images/rack/stellazh.svg') repeat-x 0 0 / auto 100%;
    }
    .tray_item{

    }
    .tray_item-close{

    }

}