@media screen and (max-width:767px){

    .col-xs-24{
        width:100%;
    }
    .col-xs-21{
        width:87.5%;
    }
    .col-xs-18{
        width:75%;
    }
    .col-xs-15{
        width:62.5%;
    }
    .col-xs-12{
        width:50%;
    }
    .col-xs-11{
        width:45.8333%;
    }
    .col-xs-9{
        width:37.5%;
    }
    .col-xs-6{
        width:25%;
    }
    .col-xs-5{
        width:20.8333%;
    }
    .col-xs-4{
        width:16.6667%;
    }
    .col-xs-3{
        width:12.5%;
    }
    .col-xs-2{
        width:8.3333%;
    }
    .container{
        width: calc(100% - 20px);
    }
    .hidden-xs{
        display:none!important;
    }
    h1, .title-1{
        font-size: 225%;
    }
    h2, .title-2{
        font-size: 200%;
    }
    .section{
        margin: 50px 0;
    }
    .form_button + .form_button{
        margin-top: 10px;
    }
    .img-wrap{
        margin: 0 -10px;
    }
    .header-part{
        padding: 6px 0;
    }
    .header-part:last-child .container{
        width: 100%;
    }
    .header-logo{
        font-size: 132%;
    }
    .header-logo img{
        width: 43px;
    }
    .header-menu {
        display: flex;
        align-items: center;
        line-height: 1;
    }
    .header-location-content{
        width:250px;
        box-shadow: 0px 0px 10px #eee;
    }
    .header-location-inner{
        background-color: #fff;
        padding: 20px;
    }
    .header-col{
        padding: 5px 10px;
    }
    .header-col:first-child{
        justify-content: flex-start;
    }
    .header-search-popup-inner{

    }
    .list_controls-right{
        margin-top: 25px;
    }
    .main_slider-item{
        background-position: 80% 40px;
        padding: 20px 0;
        height: 352px;
    }
    .main_slider-title {
        font-size: 225%;
        line-height: 1.1;
        margin-top: 50px;
        max-width: 80%;
    }
    .main_slider .slick-dots{
        bottom: 80px;
    }
    .main_slider:after{
        width: 198px;
        height: 198px;
        left: calc(100% - 208px);
        background-position: 0 -45px;
    }
    .section.relative{
        margin-top: -70px;
    }
    .table_list:not(.list) .table_list-item{
        padding: 28px 30px;
    }
    .table_list.sections .table_list-item,
    .table_list .table_list-preview{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .table_list .table_list-preview{
        border-bottom: 1px solid #F5F6F9;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }
    .table_list.sections .table_list-img,
    .table_list-preview .table_list-img{
        width: 30%;
        margin: 0;
    }
    .table_list.sections .table_list-title,
    .table_list-preview .table_list-title{
        width: 70%;
        padding-left: 15px;
        text-align: left;
    }
    .banner-item{
        padding: 10px 0 0;
        width: 100%;
    }
    .banner-item + .banner-item{
        margin-top: 30px;
    }
    .banner-item-inner{
        padding: 20px 15px;
    }
    .banner_map{
        padding: 30px 0;
    }
    .banner_map-item{
        width: 100%;
    }
    .number_list-number{
        font-size: 425%;
    }
    .footer-part:first-child .container{
        width: 100%;
    }
    .footer-part:first-child .container > *{
        width: 100%;
        padding: 0 10px;
    }
    .footer-part:first-child .container > * + *{
        margin-top: 25px;
        padding-top: 25px;
        border-top: 1px solid #EBEBEB;
    }
    .footer-desc{
        margin-bottom: 15px;
    }
    .popup_content .catalog_menu{
        margin: 0 -20px;
    }
    .catalog_menu-title{
        padding: 0 20px 15px;
    }
    .catalog_menu-list{
        position: relative;
    }
    .catalog_menu-item{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid #EBEBEB;
    }
    .catalog_menu-item.back{
        font-weight: normal;
        display: none;
    }
    .catalog_menu-list.active .catalog_menu-item.back{
        display: flex;
    }
    .catalog_menu-list.active .catalog_menu-item:not(.back):not(.active){
        display: none;
    }
    .catalog_menu-item.active > .icon{
        display: none;
    }
    .catalog_menu-img{
        margin-right: 20px;
    }
    .catalog_menu-item-sub{
        padding: 0;
        height: 0;
        overflow: hidden;
        position: relative;
        left: 100%;
        transition-property: left;
        transition-duration: .3s;
    }
    .catalog_menu-item.active + .catalog_menu-item-sub{
        left: 0;
        padding: 20px;
        height: auto;
    }
    .catalog_menu-item-sub > *{
        display: block;
    }
    .catalog_menu-item-sub > * + *{
        margin-top: 10px;
    }
    .catalog_menu-item-title, a.catalog_menu-item-title{
        color: #303030;
    }
    .popup_wrapper{
        height: 100%;
        overflow-y: scroll;
    }
    .popup_content{
        padding: 30px 20px;
        min-height: 100%;
    }
    .full_popup .popup_content-close{
        top: 32px;
        right: 20px;
    }
    .header_menu-popup{
        width: 200px;
    }
    .popup_liener.header_menu-popup{
        left: -201px;
    }
    .catalog_section{
        padding: 35px 0 80px;
    }
    .catalog_filter{
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 15px;
    }
    .block_wrapper{
        margin-left: -10px;
        margin-right: -10px;
        padding: 20px 10px;
    }
    .block_wrapper .cart{
        margin: -20px -10px;
    }
    .block_wrapper.compare_list{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .cart_img,
    .cart_desc{
        width: 100%;
        padding: 20px 10px;
    }
    .cart_img + .cart_desc{
        border-top: 1px solid #EBEBEB;
    }
    .cart_desc-item{
        margin-left: -10px;
        margin-right: -10px;
        padding: 20px 10px;
    }
    .cart_buy{
        justify-content: space-between;
    }
    .cart_links-item{
        display: block;
    }
    .cart_links-item + .cart_links-item{
        margin-top: 20px;
    }
    .inline_list{
        margin-bottom: -35px;
    }
    .inline_list > li{
        padding-right: 35px;
        margin-bottom: 35px;
        width: 50%;
    }
    .news_list-item{
        width: 100%;
    }
    .news_list-img{
        height: 260px;
    }
    .news_detail{
        margin-bottom: 50px;
    }
    .title_wrap{
        flex-wrap: wrap-reverse;
    }
    .title_wrap [class*="title-"]{
        width: 100%;
    }
    .title_wrap-img{
        margin: -20px -10px 30px;
        width: calc(100% + 20px);
    }
    .contacts_list{
        margin-bottom: -30px;
    }
    .contacts_list-item{
        margin: 0 0 30px;
        width: 100%;
    }
    .pay_sys-list{
        margin-bottom: -20px;
    }
    .pay_sys-item{
        width: 100%;
        margin-bottom: 20px;
    }
    .content_tab{
        margin-bottom: 20px;
    }
    .popup_content .content_tab{
        border-bottom: 0;
        padding-bottom: 0;
    }
    .content_tab-item{
        margin-bottom: 20px;
        display: inline-block;
    }
    .popup_content .content_tab-item{
        padding: 0;
    }
    .content_tab-item.active{
        color: inherit;
        border-bottom: 1px solid;
    }
    .popup_content .map_wrapper{
        margin: 0 -20px -30px;
        height: calc(100vh - 30px);
    }
    .delivery_btn{
        padding: 25px 20px;
        display: inline-block;
        background-image: url("../images/map-bg.jpg");
        font-size: 150%;
        font-weight: 600;
    }
    .basket_list-preview{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px 10px;
        border-bottom: 1px solid #EBEBEB;
    }
    .basket_list-img{
        width: 30%;
    }
    .basket_list-title{
        width: 60%;
        padding-left: 15px;
    }
    .basket_list .table_list-info,
    .basket_list-price_wrap{
        width: 100%;
    }
    .basket_list .table_list-info{
        padding: 12px 10px;
        border-bottom: 1px solid #EBEBEB;
    }
    .basket_list-price_wrap{
        padding: 15px 10px;
    }
    .basket_coupon-col{
        width: 100%;
        padding: 15px 10px;
    }
    .basket_coupon-col + .basket_coupon-col{
        border-top: 1px solid #EBEBEB;
    }
    .basket_coupon-col .animate_input{
        margin-bottom: 10px;
        width: 100%;
        display: block;
    }
    .basket_coupon-title{
        width: 100%;
    }
    .block_wrapper > .order_form,
    .block_wrapper > .personal{
        margin: -20px -10px;
    }
    .order_form-item{
        padding: 20px 10px;
    }
    .order_form-item-input{
        margin-bottom: -10px;
    }
    .order_form-item input[type="text"],
    .order_form-item input[type="email"],
    .order_form-item input[type="tel"],
    .order_form-item .radio_btn{
        margin-bottom: 10px;
    }
    .personal_aside{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px;
    }
    .personal_aside:after{
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #EBEBEB;
        z-index: 0;
    }
    .personal_aside-item{
        line-height: 1;
        padding: 10px 5px;
        z-index: 1;
    }
    .personal_aside-item.active{
        border-bottom: 2px solid #4195EA;
    }
    .personal_content{
        width: 100%;
        padding: 20px 10px;
    }
    .order_address .address_list-item{
        width: 100%;
    }
    .order_address .address_list-item + .address_list-item{
        border-top: 0;
    }

}